.all-students {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    align-items: left;

    position: absolute;
    left: 45%;
    padding-right: 50px;

    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;

    // border: 3px solid coral;

    .one-student {
        display: flex;
        font-family: 'Noto Sans', sans-serif;
        margin-left: 10px;

        &:not(:last-of-type) {
            margin-bottom: 30px;
        }
        
        img {
            width: 150px;
            border-radius: 20%;

        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            margin-left: 30px;

            > *:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}